* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
.bg-war {
    background: url('./img/1.jpg') no-repeat center;
    background-size: cover;
}
.bg-008074bd {
    background-color: #008074bd;
}
.bg-crimson {
    background-color: crimson;
}
.bg-blue {
    background-color: rgb(32, 217, 241);
}
.color-fff {
    color: #fff;
}
.color-crimson {
    color: crimson;
}
.container {
    width: 1600px;
    margin: 0 auto;
}
.iblock {
    display: inline-block;
}
.flex {
    display: flex;
}
.iflex {
    display: inline-flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
}
.basis-10 {
    flex-basis: 10%;
}
.basis-20 {
    flex-basis: 20%;
}
.basis-60 {
    flex-basis: 60%;
}
.basis-30 {
    flex-basis: 30%;
}
.grow {
    flex-grow: 1;
}
.between {
    justify-content: space-between;
}
.evenly {
    justify-content: space-evenly;
}
.ai-center {
    align-items: center;
}
.jc-center {
    justify-content: center;
}
.justify {
    text-align: justify;
}
.column {
    flex-direction: column;
}
.w-40 {
    width: 60px;
}
.h-100 {
    height: 100%;
}
.h-80 {
    height: 80%;
}
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.h-40 {
    height: 60px;
}
.cover {
    object-fit: cover;
}
.position-l {
    object-position: left;
}
.position-r {
    object-position: right;
}
.style-none {
    list-style: none;
}
.decoration-none {
    text-decoration: none;
}
.r-10 {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.r-50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.r-30 {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.r-l-30 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.r-r-30 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.p-5 {
    padding: 5px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.fs-30 {
    font-size: 30px;
}
.ff-Kalam {
    font-family: 'Kalam', cursive;
}
.SahIsmayil {
    height:200px;
    width:200px;
    object-fit: cover;
    position: relative;
    animation-name: sahIsmayil;
    animation-duration: 5s;
    animation-iteration-count:1 ;
    animation-timing-function: ease;
}
@keyframes sahIsmayil {
    0%   {top:0px; left: 0px; opacity: .2;}
    100% { top:0px; left: 50%; opacity: 1; transform:translateX(-100%);}
}
.SultanSelim {
    height:200px;
    width:200px;
    object-fit: cover;
    position: relative;
    animation-name: sultanSelim;
    animation-duration: 5s;
    animation-iteration-count:1;
    animation-timing-function: ease;
}
@keyframes sultanSelim {
    0%   {top:0px; right: 0px; opacity: .2;}
    100% { top:0px; right: 50%; opacity: 1; transform:translateX(100%);}
}
.b-red {
    border: 1px solid red;
}
.b-green {
    border: 1px solid green;
}
h3 {
    position: relative;
}
h3::before {
    content: ' ';
    position: absolute;
    top:25px;
    left:0;
    height: 2px;
    width: 150px;
    background-color: crimson;
}
.moveContent-X {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.moveContent-X:hover {
    transform:translateX(50px);
    -webkit-transform:translateX(50px);
    -moz-transform:translateX(50px);
    -ms-transform:translateX(50px);
    -o-transform:translateX(50px);
    color:#111;
}
.moveContent-Y {
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
.moveContent-Y:hover {
    transform:translateY(15px);
    -webkit-transform:translateY(15px);
    -moz-transform:translateY(15px);
    -ms-transform:translateY(15px);
    -o-transform:translateY(15px);
    background-color: crimson;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.top-0 {
    top:0;
}
.left-0 {
    left: 0;
}
/* .cards {
    perspective: 20px;
} */
.card {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.card_front {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card__front img {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.card_back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}